# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Flutter/Dart specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/app/build/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json

# Web
build/

# Temporary files
*.tmp
*.temp
